@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: "ImpactCustom";
  src: url("/fonts/Impact.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* prevents flicker */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-lyellow: oklch(96.52% 0.025 97.11);
  --color-rbrown: oklch(67.16% 0.059 66.53);
  --color-lbrown: oklch(46.47% 0.069 65.44);
  --color-dbrown: oklch(35.43% 0.068 63.64);
  --font-poppins: var(--font-poppins);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: border-box;
  height: 100%;
  width: 100%;
}

.font-impact {
  font-family: "ImpactCustom", Impact, sans-serif;
}
